/*@charset "UTF-8";*/
/* CSS Document */
/* eSpherical.com Specific Style Elements */
BODY {font-family:Tahoma, Geneva, sans-serif;font-size:12px;margin-left:0px;padding-left:0px;width:100%;}
#dhtmltooltip{
position: absolute;
min-width:250px;
cursor:pointer;
border: 0px solid #666;
padding:6px;
visibility: hidden;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #575757), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #575757 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #575757 5%, #000000 100%);
	background:-o-linear-gradient(top, #575757 5%, #000000 100%);
	background:-ms-linear-gradient(top, #575757 5%, #000000 100%);
	background:linear-gradient(to bottom, #575757 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#000000',GradientType=0);
	background-color:#575757;
opacity:0.90;
filter: alpha(opacity = 95);
z-index:1000;
font-family:Tahoma, Geneva, sans-serif;
font-size:12px;
color:white;
border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
TD {font-family:Tahoma, Geneva, sans-serif;}
.inL {font-size:11px;background-color:#FFC;}
.inK {font-size:11px;background-color:#CFC;}
.required {display:inline-block;background-color:red;padding:4px;margin-top:3px;margin-bottom:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;color:white;}
.optional {display:inline-block;background-color:#2F46B0;padding:4px;margin-top:3px;margin-bottom:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;color:white;}
.rotate {writing-mode:tb-rl;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	/*background-color:#f1f1f1;*/}
.strike {text-decoration: line-through;}
.rotate0 {-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
.rotate90n {-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
.rotate90p {-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
.rotate45n {-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.rotate45p {-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.rotate20n {-ms-transform: rotate(-20deg);-webkit-transform: rotate(-20deg);transform: rotate(-20deg);}
.rotate20p {-ms-transform: rotate(20deg);-webkit-transform: rotate(20deg);transform: rotate(20deg);}
.rotate180 {-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.gray01 {color:#808080;}
.red {color:#FF0004;}
.yellow {color:#F0FF00;}
.lime {color:#16E30D;}
.blue {color:#1A00FF;}
.navy {color:#000080;}
.green {color:#4C9649}
.pointer {cursor:pointer;}
.pointerNo {cursor:none;}
.helper {cursor:help;}
.rollMe {background-color:transparent;cursor:default;}
.rollMe:hover {background-color:#eaeaea;cursor:pointer;}
.bxList {background-color:#FF0004;}
.bxList:hover {background-color:#007700;}
.code {font-family:monospace;}
.collapse {border-collapse:collapse;border:1px solid #999999;}
.uMe {text-decoration:underline;}
.GC1 {font-family:Tahoma,Verdana, Geneva, Helvetica, Arial, sans-serif;}
a.norm:link {color:#808080;text-decoration:none;padding:5px;}
a.norm:visited {color:#808080;text-decoration:none;padding:5px;}
a.norm:hover {color:#FF0000;text-decoration:underline;background-color:#DDDDDD;padding:5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
a.norm:active {color:#808080;text-decoration:none;padding:5px;}
.round {border:1px solid;border-radius:25px;-moz-border-radius:25px;font-size:11px;background-color:#FFC;}
.roundBorder2 {-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.roundBorder4 {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.roundBorder5 {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.roundBorder8 {-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
.borderBL8 {border-bottom-left-radius:8px;-moz-border-bottom-left-radius:8px;-webkit-border-bottom-left-radius:8px;}
.borderBL4 {border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;}
.borderBL6 {border-bottom-left-radius:6px;-moz-border-bottom-left-radius:6px;-webkit-border-bottom-left-radius:6px;}
.borderBR6 {border-bottom-right-radius:6px;-moz-border-bottom-right-radius:6px;-webkit-border-bottom-right-radius:6px;}
.borderBL12 {border-bottom-left-radius:12px;-moz-border-bottom-left-radius:12px;-webkit-border-bottom-left-radius:12px;}
.borderBL16 {border-bottom-left-radius:16px;-moz-border-bottom-left-radius:16px;-webkit-border-bottom-left-radius:16px;}
.borderTL8 {border-top-left-radius:8px;-moz-border-top-left-radius:8px;-webkit-border-top-left-radius:8px;}
.borderTL6 {border-top-left-radius:6px;-moz-border-top-left-radius:6px;-webkit-border-top-left-radius:6px;}
.borderTR6 {border-top-right-radius:6px;-moz-border-top-right-radius:6px;-webkit-border-top-right-radius:6px;}
.borderTR2 {border-top-right-radius:2px;-moz-border-top-right-radius:2px;-webkit-border-top-right-radius:2px;}
.borderBR2 {border-bottom-right-radius:2px;-moz-border-bottom-right-radius:2px;-webkit-border-bottom-right-radius:2px;}
.borderTL4 {border-top-left-radius:5px;-moz-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;}
.borderTL4x {border-top-left-radius:4px;-moz-border-top-left-radius:4px;-webkit-border-top-left-radius:4px;}
.borderTR4x {border-top-right-radius:4px;-moz-border-top-right-radius:4px;-webkit-border-top-right-radius:4px;}
.borderTL16 {border-top-left-radius:16px;-moz-border-top-left-radius:16px;-webkit-border-top-left-radius:16px;}
/* Magnifier */
.img-magnifier-container {
  position: relative;
    cursor:zoom-in;
}
.img-magnifier-glass {
cursor:zoom-in;  
position: absolute;
  border: 2px solid blue;
  border-radius: 50%;
    opacity: 0.85;
  /*Set the size of the magnifier glass:*/
  width: 220px;
  height: 220px;
}
/* END Magnifier */

.btnGR {
	-moz-box-shadow: 0px 0px 0px 0px #BFBFBF;
	-webkit-box-shadow: 0px 0px 0px 0px #BFBFBF;
	box-shadow: 0px 0px 0px 0px #BFBFBF;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E9E9E9), color-stop(1, #BFBFBF));
	background:-moz-linear-gradient(top, #E9E9E9 5%, #BFBFBF 100%);
	background:-webkit-linear-gradient(top, #E9E9E9 5%, #BFBFBF 100%);
	background:-o-linear-gradient(top, #E9E9E9 5%, #BFBFBF 100%);
	background:-ms-linear-gradient(top, #E9E9E9 5%, #BFBFBF 100%);
	background:linear-gradient(to bottom, #E9E9E9 5%, #BFBFBF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#BFBFBF',GradientType=0);
	background-color:#E9E9E9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #A8A8A8;
	display:inline-block;
	/*cursor:pointer;*/
	color:#333333;
	font-family:arial;
	font-weight:bold;
	padding:4px;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #8C8C8C;*/
	margin-bottom:0px;
	text-align:center;
}
.btnGR:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #BFBFBF), color-stop(1, #E9E9E9));
	background:-moz-linear-gradient(top, #BFBFBF 5%, #E9E9E9 100%);
	background:-webkit-linear-gradient(top, #BFBFBF 5%, #E9E9E9 100%);
	background:-o-linear-gradient(top, #BFBFBF 5%, #E9E9E9 100%);
	background:-ms-linear-gradient(top, #BFBFBF 5%, #E9E9E9 100%);
	background:linear-gradient(to bottom, #BFBFBF 5%, #E9E9E9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFBFBF', endColorstr='#E9E9E9',GradientType=0);
	background-color:#BFBFBF;
}
.btnGR:active {
	position:relative;
	top:0px;
}
.btnGY {
	-moz-box-shadow: 0px 0px 0px 0px #63ff38;
	-webkit-box-shadow: 0px 0px 0px 0px #63ff38;
	box-shadow: 0px 0px 0px 0px #63ff38;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ef7b3), color-stop(1, #93d670));
	background:-moz-linear-gradient(top, #9ef7b3 5%, #93d670 100%);
	background:-webkit-linear-gradient(top, #9ef7b3 5%, #93d670 100%);
	background:-o-linear-gradient(top, #9ef7b3 5%, #93d670 100%);
	background:-ms-linear-gradient(top, #9ef7b3 5%, #93d670 100%);
	background:linear-gradient(to bottom, #9ef7b3 5%, #93d670 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ef7b3', endColorstr='#93d670',GradientType=0);
	background-color:#9ef7b3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #709e75;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-weight:bold;
	padding:4px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #ffee66; */
	margin-bottom:0px;
	text-align:center;
}
.btnGY:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #93d670), color-stop(1, #9ef7b3));
	background:-moz-linear-gradient(top, #93d670 5%, #9ef7b3 100%);
	background:-webkit-linear-gradient(top, #93d670 5%, #9ef7b3 100%);
	background:-o-linear-gradient(top, #93d670 5%, #9ef7b3 100%);
	background:-ms-linear-gradient(top, #93d670 5%, #9ef7b3 100%);
	background:linear-gradient(to bottom, #93d670 5%, #9ef7b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#93d670', endColorstr='#9ef7b3',GradientType=0);
	background-color:#93d670;
}
.btnGY:active {
	position:relative;
	top:0px;
}

.btnBL {
	-moz-box-shadow: 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow: 0px 1px 0px 0px #dcecfb;
	box-shadow: 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	/*font-size:11px; */
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #ffee66; */
	margin-bottom:0px;
	text-align:center;
}
.btnBL:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
.btnBL:active {
	position:relative;
	top:0px;
}

.myWTrans {
    width: 0px;
    /*height: 0px;*/
    -webkit-transition: width 2s;
	-webkit-transition-delay: 0.5s;
    transition:width 2s;
	-webkit-transition-timing-function:ease-in;
	transition-timing-function:ease-in;
	transition-delay:0.5s;
}
.ix, .bx {
  /*float: left;*/
  font-size: 1.1em;
  padding: 4px 2px;
  margin: 0;
  border: 1px solid #333;
  outline: 0;
  box-shadow: none;
}

::-moz-focus-inner { 
  padding: 0;
  border: 0;
}

.ix {
  width: 15em;
  background-color: #fff;
  border-right: 0 none;
  border-radius: 3px 0 0 3px;
}

.bx {
  position: relative;
  background-color: #E1E1E1;
  border-radius: 0 3px 3px 0;
  font-weight:bold;
  cursor: pointer;
}

.copied::after {
  position: absolute;
  top: 1px;
  right: 20%;
  display: block;
  content: "copied";
  font-size: 1.0em;
  padding: 3px 10px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 2.0s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
/* FLOATING MENU */

#MobileMenuContent{
    width:40px;
    font-size:1.4em;;
    line-height:39px;
    right:0px;
    top:0px; /* change this value to place the menu higher or lower */
    position:absolute;
	overflow:hidden;
	z-index: 100;
	opacity:0.95;
	filter:Alpha(opacity=95);
	background-size:90%;
}

#tab{
    float:left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}

#tab li span{
    display: block;
    padding: 0 0px;
    position: relative;
}

#links{
    width:100%;
    padding:0px;
    float: left;   
}

.show, .hide{
    /* we specify the transition length for hiding and showing */
            transition: width .4s ease-in;
    -webkit-transition: width .4s ease-in;
}

.hide{
    width:40px;
	overflow:hidden;
	
}

.show{
    width:90%;
	overflow:hidden;

}

#arrow, .bt{
    cursor: pointer;
}

.bt{
    width:100%;
    height:29px;
    margin:-1px;
    text-align:left;
    border:0px;
	overflow:hidden;
	padding:1px 2px 3px 10px;
    /*font: bold 13px Helvetica,Arial,sans-serif;*/
    
	
	background:-webkit-gradient(linear, left top, right top, color-stop(0.05, #676767), color-stop(1, #2A2A2A));
	background:-moz-linear-gradient(left, #676767 5%, #2A2A2A 100%);
	background:-webkit-linear-gradient(left, #676767 5%, #2A2A2A 100%);
	background:-o-linear-gradient(left, #676767 5%, #2A2A2A 100%);
	background:-ms-linear-gradient(left, #676767 5%, #2A2A2A 100%);
	background:linear-gradient(to right, #676767 5%, #2A2A2A 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#2A2A2A',GradientType=0);
	background-color:#676767;
	background:-webkit-gradient(linear, left top, right top, color-stop(0.15, #575757) color-stop(1, #000000));
	background:-moz-linear-gradient(left, #575757 15%, #000000 100%);
	background:-webkit-linear-gradient(left, #575757 15%, #000000 100%);
	background:-o-linear-gradient(left, #575757 15%, #000000 100%);
	background:-ms-linear-gradient(left, #575757 15%, #000000 100%);
	background:linear-gradient(to right, #575757 15%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#000000',GradientType=0);
	background-color:#575757;
	
}
.bt:hover{
   
    transition: background .3s linear;
    background:#6699FF;
         -o-transition: background .3s linear;
       -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
	text-decoration:none;
	overflow:hidden;
	opacity:1;
	filter:Alpha(opacity=100);   
}
.bt a{
    line-height:29px;
    color: #ffffff;
    display: block;
	text-decoration:none;
	overflow:hidden;
}
.bt a:hover{
    line-height:29px;
    color: #000000;
    display: block;
	text-decoration:none;
	overflow:hidden;
}
/*#5075AD */


#deco{
    width:100%;
    float: left;
	overflow:hidden;
	/*box-shadow:0px 0px 5px #000;
    -moz-box-shadow:0px 0px 5px #000;
    -webkit-box-shadow:0px 0px 5px #000;*/
}
/* END FLOATING MENU */
.f08 {font-size:8px;}
.f09 {font-size:9px;}
.f10 {font-size:10px;}
.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f17 {font-size:17px;}
.f18 {font-size:18px;}
.f19 {font-size:19px;}
.f20 {font-size:20px;}
.buttonX01A {border-width:0px;background:linear-gradient(#749bc7,#3a578b);padding:8px;text-align:center;margin-top:4px;text-decoration:none;color:white;font-weight:bold;}
.buttonX01A:hover {background:linear-gradient(#f4f051 15%, #ff8000);color:black;font-weight:bold;text-decoration:none;}
.devButton {background:linear-gradient(#f4f051,#ff8000);color:black;}
.devButton:hover {background:linear-gradient(#ffc184 15%, #ff0000);color:white;transition-delay:0.25s;}
/* SmartPhones   */
@media only screen and (max-width: 860px) {
.headerLogo {float:left;width:60%; height:50%;font-size:1.0em;}
.fmenu {float:left;display:none;}
.mmenu {float:right;width:22%;hight:42px;text-align:right;display:none;color:white;}
.mM {display:block;}
.mMf {display:none;}
.grid2 {float:left;width:96%;}
.grid3 {float:left;width:96%;}
.grid3a {float:left;width:95%;}
.grid3b {float:left;width:95%;}
.grid66 {float:left;width:96%;}
.grid33 {float:left;width:96%;}
.cMenu {float:left;width:95%;margin-top:5px;}
.cMenuX {float:left;width:95%;margin-top:5px;}
.cPreview {float:left;width:95%;margin-top:10px;}
.oPreview {float:left;width:95%;margin-top:10px;}
.mediumT {font-size:1.6em;}
.IM1 {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:10px;margin-bottom:10px;border-width:1px;border-color:gray;border-style:solid;width:70%;}
.IM1a {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:10px;border-width:1px;border-color:gray;border-style:solid;width:70%;}
.IM2 {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:10px;margin-bottom:10px;border-width:1px;border-color:gray;border-style:solid;width:70%;}
.IM3 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:1px;margin-bottom:5px;border-width:1px;border-color:gray;border-style:solid;width:85px;}
.IM4 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:1px;border-width:1px;border-color:gray;border-style:solid;width:85px;}
.f08 {font-size:8px;}
.f09 {font-size:9px;}
.f10 {font-size:10px;}
.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f17 {font-size:17px;}
.f18 {font-size:18px;}
.f19 {font-size:19px;}
.f20 {font-size:20px;}

}

/* ######## large sized devices ######## */
@media only screen and (min-width: 861px) {
.headerLogo {float:left;width:60%; height:50%;font-size:1.2em;}
.fmenu {float:left;display:none;}
.mmenu {float:right;width:35%;hight:42px;text-align:right;display:none;color:white;}
.mM {display:none;}
.mMf {display:block;}
.grid2 {float:left;width:48%;}
.grid3 {float:left;width:32.5%;}
.grid3a {float:left;width:30%;}
.grid3b {float:left;width:65%;}
.grid66 {float:left;width:60%;}
.grid33 {float:left;width:38%;}
.mediumT {font-size:1.3em;}
.mediumT2 {font-size:1.1em;}
.cMenu {float:left;width:300px;margin-top:5px;margin-left:5px;}
.cMenuX {float:left;width:400px;margin-top:5px;margin-left:5px;}
.cPreview {float:left;width:525px;margin-left:35px;margin-top:5px;position:relative;}
.oPreview {float:left;width:62%;margin-left:35px;margin-top:5px;position:relative;}
.IM1 {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:5px;margin-bottom:5px;border-width:1px;border-color:gray;border-style:solid;width:240px;}
.IM1a {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:10px;border-width:1px;border-color:#80B0EE;border-style:solid;width:240px;}
.IM2 {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;padding:5px;margin-bottom:5px;border-width:1px;border-color:gray;border-style:solid;width:220px;}
.IM3 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:1px;margin-bottom:5px;border-width:1px;border-color:gray;border-style:solid;width:85px;}
.IM4 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:1px;border-width:1px;border-color:gray;border-style:solid;width:85px;}
#MobileMenuContent{display:block;}
.f08 {font-size:8px;}
.f09 {font-size:9px;}
.f10 {font-size:10px;}
.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f17 {font-size:17px;}
.f18 {font-size:18px;}
.f19 {font-size:19px;}
.f20 {font-size:20px;}
}

